.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.app {
  &_container {
    position: absolute;
    padding: 3rem;
    text-align: center;
    width: 50vw;
    height: auto;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    flex-flow: column;
  }

  &_question {
    animation: move 3s ease-in-out;
  }
  &_options {
    color: #1690a5;
    font-size: 0;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    text-align: start;
    transition: all 0.2s;
    span {
      font-size: 3rem;
      display: inline-block;
      animation: leftToRight 2s ease-in-out;
      width: 49%;
      opacity: 0;
      border: 2px solid;
      border-radius: 10px;
      text-align: center;

      &:hover {
        transform: translate(2px, 2px);
      }
    }
    span:nth-child(3),
    span:nth-child(4) {
      margin-top: 1rem;
    }
    span:nth-child(1),
    span:nth-child(3) {
      margin-right: 4px;
    }
  }
}

.yoi {
  transition: 300ms all ease;
  opacity: 0;
  will-change: opacity;
}

.show {
  opacity: 1 !important;
}
